@import url(https://fonts.google.com/specimen/Krona+One);

@import url(https://fonts.googleapis.com/css2?family=PT+Sans&display=swap);

body {
    font-family: "PT Sans", sans-serif;
    font-size: 17px;
    padding: 0;
    margin: 0;
    background-image: url("images/checkout-background-image-palm.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;

}


h1 {
    font-family: "Krona One", sans-serif;
    color: #d19c1d;
    text-align: center;
    font-size: 32px;
    letter-spacing: 8px;
    font-weight: normal;
}


#cart {
    left: 50%;
}

h2 {
    font-family: "Krona One", sans-serif;
}

.mainContainer {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
}

#container1 {
    background-color: #f2f2f2;
    padding: 5px 20px 15px 20px;
    border: 1px solid lightgrey;
    border-radius: 3px;
}

.purchasedItem {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.remove-button {
    margin-left: 10px;
}

.item-price {
    flex-grow: 2;
    text-align: right;
}

.money {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.container2 {
    background-color: #f2f2f2;
    padding: 5px 20px 15px 20px;
    border: 1px solid lightgrey;
    border-radius: 3px;
    margin-top: 15px;
    margin-bottom: 15px;

}

#cashPayment {
    background-color: #f2f2f2;
    padding: 5px 20px 15px 20px;
    border: 1px solid lightgrey;
    border-radius: 3px;
    text-align: center;
    justify-content: space-evenly;
}

.paymentChoice {
    text-align: center;
}


.pay-question {
    color: white;
    font-weight: normal;
    letter-spacing: 2px;
}

.container3 {
    background-color: #f2f2f2;
    padding: 5px 20px 15px 20px;
    border: 1px solid lightgrey;
    border-radius: 3px;
}

input[type="text"] {
    width: 93%;
    margin-bottom: 20px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 3px;

}

label {
    margin-bottom: 10px;
    display: block;
}


.btn {
    background-color: #d19c1d;
    color: white;
    padding: 12px;
    margin: 10px 0;
    border: none;
    width: 50%;
    border-radius: 24px;
    cursor: pointer;
    font-size: 17px;
    font-family: "PT Sans", sans-serif;

}

button:hover {
    background-color: #092621;
}


.Enter {
    width: 100px;
}


a {
    color: #d19c1d;
}

a:hover {
    color: #488c7f;
}

hr {
    border: 1px solid lightgrey;
}

span.price {
    float: right;
    color: grey;
}

#shipBillContainer {
    display: none;
}

#cashPayment {
    display: none;
    margin-top: 20px;
    padding-top: 20px;
}


h2 {
    text-align: center;
}

.cashAmount {
    margin-bottom: 10px;
}

.cashInput {
    margin-bottom: 10px;
}

.amountEntered {
    margin-top: 10px;
    margin-bottom: 10px;
}

.remainingAmount {
    margin-bottom: 10px;
}

.processOrder1 {
    transform: translateX(50%);
}

@media screen and (min-width: 768px) {
    h1 {
        font-size: 72px;
        letter-spacing: 30px;
    }

    .mainContainer {
        width: 70%;
    }

    input[type="text"] {
        width: 97%;
    }
}

#shipBillContainer {
    display: none;
}

#cashPayment {
    display: none;
}

h2 {
    text-align: center;
}

.cashAmount {
    margin-bottom: 10px;
}

.cashInput {
    margin-bottom: 10px;
}

.amountEntered {
    margin-top: 10px;
    margin-bottom: 10px;
}

.remainingAmount {
    margin-bottom: 10px;


}

@media screen and (min-width: 768px) {
    h1 {
        font-size: 72px;
        letter-spacing: 30px;
    }

    .mainContainer {
        width: 70%;
    }

    input[type="text"] {
        width: 97%;
    }
}